<form  class="container" (ngSubmit)="signUp()" #registerForm="ngForm">
  <h2>Sign up:</h2>

  <div class="form-group">
  <label for="username">User name:</label>
  <input type="text"
         required
         [(ngModel)]="model.username"
         #name="ngModel"
         name="username" class="form-control" id="username" aria-describedby="usernameHelp"
         placeholder="Enter user name"/>
  <div [hidden]="name.valid || name.pristine" class="alert alert-dark">
    Please provide your name!
  </div>
</div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text"
           required
           [(ngModel)]="model.email"
           ngModel email="true"
           #email="ngModel"
           name="email" class="form-control" id="email" aria-describedby="usernameHelp"
           placeholder="Enter user name"/>
    <div [hidden]="email.valid || email.pristine" class="alert alert-dark">
      Please provide valid email!
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control"
           required
           [(ngModel)]="model.password"
           #password="ngModel"
           name="password"
           minlength="4" id="password" placeholder="Password"/>
  </div>
  <div [hidden]="password.valid || password.pristine" class="alert alert-dark">
    Password should be at least 4 symbols!
  </div>
  <div class="form-group">
    <label for="repeat-password">Repeat  password:</label>
    <input type="password" class="form-control"
           required
           [(ngModel)]="repeatPassword"
           #repPassword="ngModel"
           name="repeat-password"
           minlength="4"

           id="repeat-password" placeholder="Repeat Password"/>
    <div *ngIf="match()" [hidden]="repPassword.pristine" class="alert alert-dark">
      Passwords should match!
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="registerForm.form.invalid||match()">Sign up</button>
</form>
