/* You can add global styles to this file, and also import other style files */

#toast-container > .toast-success {
  width: 30%;
  height: 10%;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  background-image: none;
  background-color: darkgreen;
  color: black;
}
#toast-container > .toast-warning {
  width: 30%;
  height: 10%;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  background-image: none;
  background-color: orange;
  color: black;
}
#toast-container > .toast-error {
  width: 20%;
  height: 10%;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  background-image: none;
  background-color: darkslategrey;
  color: darkred;
}
.fill {
  min-height: 100%;
  height: 100%;
}
